<!DOCTYPE html>
<html>
<head>
	<title>Chi Sono</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<header>
    <nav>
        <ul>
       	<li><a  href="greeting">SALUTI  </a></li>
          <li><a  href="chi-sono">CHI SONO  </a></li>
          <li><a href="contenuti">CONTENUTI  </a></li>
          <li><a href="contattami">CONTATTAMI  </a></li>
        </ul>
    </nav>
</header>

<div id="chisono">
<h3>Mi chiamo Luigi Esposito, ho 22 anni, sono diplomato in Sistemi Informativi Aziendali</h3>
<br>
<h3>Sono un programmatore di software, sviluppo siti web</h3>
</div>

</body>
</html>